.root {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 768px) {
    margin-top: 24px;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    list-style: none;
    margin: 0;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .root {
    margin-top: 24px;
    justify-content: center;
  }
  .links {
    flex-direction: column;
    gap: 20px;
    ul {
      padding: 0;
    }
  }
}
