p {
  margin-bottom: 24px;
}

ul,
ol {
  margin-bottom: 24px;
  li {
    padding: 4px 0;
  }
}

ul li {
  &::marker {
    color: var(--color-strong);
  }
}

a {
  color: var(--color-links);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

small,
time {
  font-size: 1rem;
}

.table-wrapper {
  overflow-x: auto;
}

.table-simple {
  border-collapse: collapse;
  margin-bottom: 24px;
  text-align: left;
  max-width: 1000px;
  th,
  td {
    border: 1px solid;
    padding: 10px;
  }
  th {
    background-color: var(--color-secondary);
  }

  tbody {
    background-color: var(--color-grey);
    tr td:first-of-type {
      background-color: var(--color-secondary);
    }
  }
}

figure {
  figcaption {
    font-size: 1rem;
    text-align: left;
    margin-top: 8px;
  }
}
