p {
  margin-bottom: 24px;
}

ul,
ol {
  margin-bottom: 24px;
  li {
    padding: 4px 0;
  }
}

a {
  color: var(--color-links);
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

small,
time {
  font-size: 0.8rem;
}

code {
  font-size: 0.9em;
  letter-spacing: -0.5px;
  padding: 4.5px 6px;
  margin: 1px -1px;
  background: rgba(138, 147, 161, 0.17);
  border-radius: 3px;
  box-decoration-break: clone;
}

table {
  border-collapse: collapse;
  margin-bottom: 24px;
  text-align: left;
  th,
  td {
    border: 1px solid;
    padding: 10px;
  }
  th {
    background-color: var(--color-secondary);
  }

  tbody {
    background-color: var(--color-grey);
    tr td:first-of-type {
      background-color: var(--color-secondary);
    }
  }
}

strong {
  color: var(--color-strong);
}

figure {
  figcaption {
    font-size: 0.8rem;
    text-align: left;
    margin-top: 8px;
  }
}
