@mixin textGradient($from, $to) {
  background-image: linear-gradient(to top, $from, $to);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin redGradientText {
  @include textGradient(var(--color-primary), #d87775);
}

@mixin orangeGradientText {
  @include textGradient(#f97316, #eab308);
}

@mixin yellowGradientText {
  @include textGradient(var(--color-headers), #f4e892);
}
