@use "/app/styles/mixins.scss" as mixins;

.news {
  h2 {
    @include mixins.yellowGradientText;
    border-top: 2px solid #3b3b3b;
    padding-top: 25px;
    margin-top: 50px;
  }

  h3 {
    color: orange;
    font-size: 20px;
  }

  img {
    margin-bottom: 24px;
  }

  strong {
    font-weight: 500;
  }

  small p {
    font-size: 1rem;
  }
}
