.root {
  margin-top: 60px;
  padding: 48px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.dash {
  width: 80px;
  height: 4px;
  background-image: linear-gradient(to right, #454e56, #6c7983);
  margin-bottom: 60px;
}
