@use "/app/styles/mixins.scss" as mixins;

.root {
  padding: 50px 0 100px 0;
  h1 {
    display: none;
  }
}

.course {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  gap: 50px;
}

.courseSubTitle {
  font-size: 26px;
  margin: 0;
}

.courseTitle {
  @include mixins.orangeGradientText;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.courseImage {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
