.button {
  cursor: pointer;
  color: var(--color-text);
  background: var(--color-primary);
  border-radius: 4px;

  &:hover:not([disabled]) {
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
    text-decoration: none;
  }
  &:active:not([disabled]) {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
  }
}

.sm {
  padding: 4px 12px 6px;
  min-width: 80px;
}

.md {
  padding: 12px 18px;
  min-width: 160px;
}
