@import "styles/reset.scss";
@import "styles/base.scss";
@import "styles/code.scss";
@import "styles/utils.scss";

:root {
  --color-text: #f9f5ee;
  --color-body-background: #0b1015;

  --color-primary: #ef5350;
  --color-secondary: #002d4e;

  --color-links: #68abe5;
  --color-headers: #fce746;
  --color-strong: #f2ebb2;

  --color-grey: #3b3b3b;
}

html {
  font-size: 18px;
}

body {
  color: var(--color-text);
  background-color: var(--color-body-background);
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}
