@import "styles/reset.scss";
@import "styles/base.scss";
@import "styles/code.scss";
@import "styles/utils.scss";

:root {
  --color-text: #f9f5ee;
  --color-body-background: #0b1015;

  --color-primary: #ef5350;
  --color-secondary: #2b4555;

  --color-links: #3aa3fd;
  --color-headers: #fce746;
  --color-strong: #ffb225;

  --color-code: #ffad86;
  --color-code-background: #1c2436;

  --color-grey: #3b3b3b;
}

html {
  font-size: 20px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background-color: var(--color-body-background);
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}
