@use "/app/styles/mixins.scss" as mixins;

.root {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  h2 {
    @include mixins.redGradientText;
    font-size: 1.4rem;
  }
}

.side {
  width: 30vw;
}

.seeAllPosts {
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .postsList {
    width: 100%;
  }

  .side {
    width: 100%;
  }
}
