.root {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
  h2 {
    font-weight: 500;
    color: var(--color-primary);
    font-size: 1.17rem;
  }
}

.postsList {
  width: 60vw;
}

.side {
  width: 30vw;
}
