@use "/app/styles/mixins.scss" as mixins;

$bubbleRadius: 20px;
$tail1: 6px;
$tail2: 12px;
$colorQ: var(--color-secondary);
$colorA: var(--color-strong);

.qa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  // &:hover {
  //   .q {
  //     translate: 3px;
  //     // .bubble {
  //     //   background-image: linear-gradient(to right, $colorQ, #40515c);
  //     // }
  //   }
  //   .a {
  //     translate: -3px;
  //     // .bubble {
  //     //   background-image: linear-gradient(to right, #eab308, $colorA);
  //     // }
  //   }
  // }
}

.q,
.a {
  display: flex;
  transition: 0.2s;
  max-width: 70%;
}

.q {
  .tail {
    border-top: $tail1 solid $colorQ;
    border-left: $tail1 solid transparent;
    border-right: $tail2 solid $colorQ;
  }
  .bubble {
    border-radius: 0 $bubbleRadius $bubbleRadius;
    background-color: $colorQ;
    color: var(--color-text);
  }
}

.a {
  align-self: flex-end;
  margin: 12px 0 24px 0;
  .tail {
    border-top: $tail1 solid $colorA;
    border-left: $tail2 solid $colorA;
    border-right: $tail1 solid transparent;
  }
  .bubble {
    border-radius: $bubbleRadius 0 $bubbleRadius $bubbleRadius;
    background-color: $colorA;
  }
}

.tail {
  width: 0px;
  height: 0px;
  border-bottom: $tail2 solid transparent;
}

.bubble {
  position: relative;
  background: #fff;
  padding: 12px 24px;
  text-align: left;
  color: #000;
}
