@use "/app/styles/mixins.scss" as mixins;

.hero {
  margin: 50px 0;
  text-align: center;
  h1 {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    @include mixins.orangeGradientText;
    @media screen and (max-width: 768px) {
      font-size: 56px;
    }
    @media screen and (max-width: 400px) {
      font-size: calc(38px + 0.4vw);
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-top: -20px;
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
      @media screen and (max-width: 400px) {
        font-size: calc(18px + 0.4vw);
        margin-top: -10px;
      }
    }
  }

  p {
    & > span:first-of-type {
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        margin-left: auto;
      }
    }
    strong {
      @include mixins.redGradientText;
      font-weight: bold;
    }
  }
}

.chatWrapper {
  margin: 32px 0;
  & > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    text-align: center;
  }
}

.info {
  margin: 64px 0;
  font-weight: bold;
  text-align: center;
  @include mixins.redGradientText;
  font-size: 40px;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.mainSection {
  margin-top: 50px;
  text-align: center;
  h2 {
    @include mixins.orangeGradientText;
  }

  ul {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .icons {
    margin: 0 auto;
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    p {
      margin-top: 12px;
    }
  }
}
