@use "/app/styles/mixins.scss" as mixins;

.root {
  section {
    counter-increment: section -1;
    margin-bottom: 80px;
    small {
      margin-bottom: 12px;
      display: inline-block;
    }

    &:first-of-type {
      margin-top: 32px;
    }
  }

  h2 {
    margin-bottom: 16px;
  }

  section h2:before {
    content: "#" counter(section);
    @include mixins.orangeGradientText;
    margin-right: 8px;
  }
}
