.root {
  padding: 20px 0;
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;
    span {
      font-weight: 600;
    }
  }

  &:hover {
    h3 {
      color: var(--color-links);
    }
  }
}
