.root {
  display: flex;
  gap: 10%;
}

.main {
  width: clamp(600px, 75%, 800px);
  max-width: 800px;
  font-size: 1.125rem;

  header {
    margin: 40px 0;

    h1 {
      padding: 10px 0;
      display: inline-block;
      font-size: 3rem;
      line-height: 1.25;

      @media screen and (max-width: 480px) {
        & {
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }

  h2 {
    margin-top: 60px;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 24px;
    padding-bottom: 4px;
    letter-spacing: -0.03rem;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      margin-top: 4px;
      background-color: var(--color-strong);
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 36px;
    margin-bottom: 24px;
    letter-spacing: -0.01rem;
  }

  img {
    margin-bottom: 24px;
  }
}

.meta {
  display: flex;
  gap: 24px;
  align-items: center;
  @media screen and (max-width: 480px) {
    & {
      flex-direction: column;
      gap: 8px;
    }
  }
}

.time {
  display: flex;
  gap: 8px;
  time {
    font-size: 20px;
  }
}

.tags {
  display: flex;
  gap: 8px;
  a {
    margin-right: 4px;
  }
}

.side {
  width: 15%;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
  .side {
    display: none;
  }
}
