@mixin tocLink {
  text-decoration: none;
  &::before {
    content: "#";
    color: white;
    margin-right: 4px;
    opacity: 0.2;
  }
  &:hover {
    &::before {
      opacity: 0.6;
    }
  }
}

.post {
  padding-right: 8px;
  h1 {
    padding: 10px 0;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.25;

    @media screen and (max-width: 480px) {
      & {
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  h2 {
    margin-top: 60px;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 24px;
    padding-bottom: 4px;
    letter-spacing: -0.03rem;
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin-top: 4px;
      background-color: var(--color-strong);
    }

    a {
      @include tocLink;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 36px;
    margin-bottom: 24px;
    letter-spacing: -0.01rem;

    a {
      @include tocLink;
    }
  }

  img {
    margin-bottom: 24px;
  }

  ul li {
    font-size: 18px;
  }
}

.time {
  display: flex;
  gap: 8px;
  time {
    font-size: 16px;
  }
}

.tags {
  display: flex;
  gap: 8px;
  a {
    margin-right: 4px;
  }
}

@media screen and (max-width: 1200px) {
  .post {
    width: 100%;
  }
}
